<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="../static/vendor/css/main.css">
  </head>
 <body>
 	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <div class="logo_nav"></div>
           <ul class="nav navbar-login">
            <li><a href="login.html">Login/Register</a></li>
          </ul>
           </div>

          
      </div>
    </div>

	<div id="headerwrap">
		<h1>This is a list app.<br>Questions NERDS?</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					
       
					
				</div><!-- /col-lg-6 -->
				
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>A List App<br/>For Busy People.</h1>
				<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="assets/img/ser01.png" width="180" alt="">
				<h4>Browser Compatibility</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/img/ser02.png" width="180" alt="">
				<h4>Open Source</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/img/ser03.png" width="180" alt="">
				<h4>Keep Track of Your Shit</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	
	<div class="">
		<div class="demo">
			<div class="col-lg-6 col-lg-offset-3">
				
			</div>
		</div><!-- /row -->
	
		
	

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Meet The Team.</h1>
				<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/t1.0-1/c2.0.160.160/p160x160/10426590_10201202618827308_6352415877739468225_n.jpg" width="140" alt="">
				<h4>Gaige Pierce-Raison</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="https://scontent-a.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10294225_10202818905665839_9074624553503404878_n.jpg" width="140" alt="">
				<h4>Galen Drew</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c50.50.619.619/s160x160/199382_4683319890779_894353095_n.jpg" width="140" alt="">
				<h4>Eric Clark </h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		
		<p class="centered">Created by Listn - &copy 2014</p>
	</div><!-- /container -->
<div id="headerwrap">
 	<div class="code_logo">
			<a href="login.html">
			<div class="logo_paper"></div>
			<div class="check"></div>
			<div class="logo_lines"></div>
			</a>
		</div>
 	<div class="hero_img">
	</div>
</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
 
</div>
</body>
</html>
