<!DOCTYPE html>
<html ng-app="ListApp" ng-controller="ListCtrl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style-test.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/vendor/css/bootstrap.min.css">
  </head>
  <body>
    <!-- Old sidebar biz
        <a href="#open-sidebar" class="sidebar_butt_open">
          <i class="glyphicon glyphicon-cog"></i>
        </a>
        <div id="open-sidebar" class="sidebar">
          <a href="#close" class="sidebar_butt_close">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
          <div>
  	    <h4>My Groups</h4>
  	    <ul>
  	      <form>
  	        <li>
  	          <div class="new_group clearfix ">
  		    <input type="text" name="new_group" placeholder="New Group">
		    <div class="add_butt_group">
		      <button type="submit">
		        <i class="glyphicon glyphicon-ok icon-white"></i>
		      </button>
		    </div>
	          </div>
  	        </li>
  	      </form>
	      <form>
	        <li class="group_item clearfix">
	          <a href="#">
		    <h3>Chores</h3>
		    <div class="add_butt_grey">
	          </a>
	        </li>
	      </form>
  	    </ul>
  	    </div>
          </div>
          -->

    <div class="grad_cont"></div>
    <div class="content open-sidebar">
      <div class="col-sm-offset-1 col-sm-10 new_list_item">
  	<form>
	  <div class="new_task"><input type="text" name="new_task" placeholder="New Task"></div>
	  <div class="add_butt">
	    <button type="submit">
	      <i class="glyphicon glyphicon-ok icon-white"></i>
	    </button>
	    <div class="list_task"><input type="text" name="list_spec" placeholder="List"></div>
	    <div class="sub_task"><input type="text" name="sub_task" placeholder="Subtasks"></div>
	  </div>
	</form>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
	<form class="search">
  	  <input type="search" placeholder="Search Groups">
  	</form>
      </div>
      <div class="cards">

        <!-- Begin Masonry -->
        <div class="js-masonry" data-masonry-options='{ "itemSelector": ".card", "columnWidth": 0 }'>
          <!-- Begin New list card -->
          <div class="col-lg-3 col-md-4 col-sm-6 card">
  	    <div class="list preview add-new">
	      <form class="title-edit">
	        <input type="text" placeholder="New List...">
	      </form>
            </div>
          </div>
          <!-- End New list card -->
          <!-- Begin angular ng-repeat on list cards -->
          <div ng-repeat="list in Lists" ng-init="checkInc = 0" class="masonryItem">
            <div class="col-lg-3 col-md-4 col-sm-6 card">
  	      <div class="list add-new">
                <form class="title-edit">
	          <input type="text" value="{{ list.title }}">
	        </form>
	        <ul>
	          <li class="list_item clearfix" ng-repeat="item in list.items">
		    <form>
		      <h3>{{ item }}</h3>
		      <div class="add_butt_grey">
		        <input type="checkbox" name="checkboxG{{ checkInc }}" id="checkboxG{{ checkInc }}" class="css-checkbox submit_check" />
                        <label for="checkboxG{{ checkInc }}" class="css-label"></label>
		      </div>
		      <div class="del_butt_grey"><button type="submit"><i class="glyphicon glyphicon-remove"></i></button></div>
		    </form>
	        </li>
	        </ul>
	      </div>
            </div>
          </div>
          <!-- End angular ng-repeat on list cards -->
        </div>
        <!-- Begin Masonry -->

      </div>
    </div>
    <script src="/static/vendor/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/static/vendor/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../static/vendor/js/angular.min.js" type="text/javascript"></script>
    <!--<script src="/static/vendor/js/bootstrap.min.js" type="text/javascript"></script>-->
    <script src="/static/js/app.js" type="text/javascript"></script>
  </body>
</html>
