<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="cred_contain">
      <div class="bumper1"></div>
      <div id="login">
         <div class="logo_login"></div>
        <h2>Login</h2>
        <form action="/user/authenticate" method="POST">
	  <div class="text"><input type="text" name="Email" placeholder="Email" ></div>
	  <div class="text"><input type="password" name="Password" placeholder="Password"></div>
	  <div class="rem"><input type="checkbox" name="RememberMe" value="true">Remember me</div>
	  <div class="submit"><input type="submit" value="Submit"></div>
        </form>
        <p><a href="register.html">Don't have an account?</a></p>
      </div>
    </div>
  </body>
</html>
