<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="cred_contain">
      <div class="bumper1"></div>
      <div id="login">
        <h2>Create An Account</h2>
        <form method="POST" action="/user/create">
	  <div class="text"><input type="text" name="Email" placeholder="Email" ></div>
	  <div class="text"><input type="text" name="FirstName" placeholder="First Name" ></div>
	  <div class="text"><input type="text" name="LastName" placeholder="Last Name" ></div>
	  <div class="text"><input type="password" name="Password" placeholder="Password"></div>
	  <div class="text"><input type="password" name="Password2" placeholder="Confirm Password"></div>
	  <div class="submit"><input type="submit" value="Submit"></div>
        </form>
      </div>
    </div>
  </body>
</html>
