<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<ul>
	<li class="list_item">
		<h3>Research mini itx vs micro atx</h3>
		<div class="del_butt"><input type="submit" value="-"></div>
	</li>
	<li class="list_item">
		<h3>Build Hackintosh</h3>
		<div class="del_butt"><input type="submit" value="-"></div>
	</li>
	<li class="new_list_item">
		<form>
		<div class="new_task"><input type="text" name="new_task" placeholder="New Task"></div>
		<div class="add_butt"><input type="submit" value="+"></div>
	</form>
	</li>
	</ul>
</body>
</html>